<div class="row">
      <div class="col-sm-4">
        <div class="cards-container">
          <div class="card myCard" style="width: 23rem">
            <img
              class="card-img-top"
              src="Photos/img1.jpg"
              alt="Card image cap"
            />
            <div class="content-card">
              <div class="card-body">
                <h5 class="card-title">Image Title Here</h5>
                <a href="Photo.html" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="cards-container">
          <div class="card myCard" style="width: 23rem">
            <img
              class="card-img-top"
              src="Photos/img2.jpg"
              alt="Card image cap"
            />
            <div class="content-card">
              <div class="card-body">
                <h5 class="card-title">Image Title Here</h5>
                <a href="Photo.html" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="cards-container">
          <div class="card myCard" style="width: 23rem">
            <img
              class="card-img-top"
              src="Photos/img3.jpg"
              alt="Card image cap"
            />
            <div class="content-card">
              <div class="card-body">
                <h5 class="card-title">Image Title Here</h5>
                <a href="Photo.html" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>